@model IEnumerable<SimApp.Models.Employee>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}


<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmplyeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmplyeePosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmplyeeSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmplyeeOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmplyeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmplyeePosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmplyeeSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmplyeeOffice)
        </td>
        <td>
            <img src="~/Content/" + @item.EmployeeImage />
            @Html.DisplayFor(modelItem => item.EmployeeImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
        </td>
    </tr>
}

</table>
